<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Clepsydra</string>
	<key>CFBundleExecutable</key>
	<string>Clepsydra</string>
	<key>CFBundleIconFile</key>
	<string>Clepsydra</string>
	<key>CFBundleIdentifier</key>
	<string>com.ilyapesterev.clepsydra</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Clepsydra</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© Илья Пестерев</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://github.com/ilya-pesterev/clepsydra/releases/latest/download/updates.xml</string>
	<key>SUPublicEDKey</key>
	<string>UComlqa6VNTVOXrmepoK446EBNlZK8bEcwH4ZVLDSDg=</string>
</dict>
</plist>
